* {
    /* all */
    box-sizing: border-box;
}

.headerNav {
    /* all */
    background-color: #595541;
    height: 80px;
    position: relative;
}

.headerNav::after,
.logo::after {
    /* all */
    content: '';
    clear: both;
}

.logo {
    /* all */
    width: 250px;
    padding: 0px 20px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 25px;
}

.fas.fa-bars {
    /* min */
    display: inline-block;
    width: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background-color: #2e3329;
}

#mobileMenu {
    /* min */
    position: absolute;
    top: 0;
    right: 0;
}

.mainNav {
    /* all */
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    transition: .5s ease-in-out;
    padding: 0px;
    list-style: none;
}

.mainNavShow {
    /* min */
    width: 100%;
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    transition: .5s ease-in-out;
}

.mainNav .navItem {
    /* min */
    text-align: center;
}

.mainNav .navItem:first-child {
    /* all */
    background-color: #2e3329;
}

.mainNav .navItem:nth-child(2) {
    /* all */
    background-color: #7c7761;
}

.mainNav .navItem:first-child a,
.mainNav .navItem:nth-child(2) a {
    /* min */
    color: #fff;
    font-size: 23px;
    font-weight: bold;
}

.exercise {
    /* all */
    position: relative;
}

.exercise:hover .exerciseList {
    /* all */
    display: block;
}

.exerciseList {
    display: none;
    width: 100%;
    padding: 0px;
    position: absolute;
    top: 100%;
    list-style: none;
}

.exerciseForList {
    background-color: #a9a48d;
    margin-top: 2px;
}

.wrap {
    /* all */
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
}

.wrap ul {
    /* all */
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    /* all */
    display: block;
    width: 100%;
    line-height: 80px;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    /* all */
    background-color: #ad5a3c;
}

h2 {
    font-size: 30px;
    color: #fff;
    background-color: #2e3329;
    border-style: solid;
    border-color: #2e3329;
    border-radius: 15px;
    width: auto;
    height: 50px;
    text-align: center;
}

h3 {
    font-size: 28px;
    color: #ad5a3c;
}

body {
    background-color: #dcdcdb;
}

.imgMain {
    max-width: 100%;
    vertical-align: middle;
}

@media(min-width: 1024px) {
    .imgCrt {
        max-width: 100%;
        vertical-align: middle;
        margin-right: 5%;
        margin-top: 1%;
        margin-bottom: 5%;
        width: 15%;
    }
    p {
        color: #2e3329;
        font-size: 25px;
    }
    #mobileMenu {
        visibility: hidden
    }
    .mainNav {
        height: 80px;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: right;
        font-size: 0;
    }
    .mainNav .navItem {
        display: inline-block;
        width: 300px;
        border-bottom: none;
        margin-right: 0;
    }
}

@media (min-width: 570px) and (max-width: 1023px) {
    /* med */
    .wrap li {
        width: 100%;
    }
    .imgCrt {
        max-width: 100%;
        vertical-align: middle;
        margin-right: 5%;
        margin-top: 1%;
        margin-bottom: 5%;
        width: 17%;
    }
    p {
        color: 2e3329;
        font-size: 23px;
    }
}

@media(max-width:569px) {
    /* min */
    .wrap li {
        width: 100%;
    }
    .imgCrt {
        max-width: 100%;
        vertical-align: middle;
        margin-right: 5%;
        margin-top: 0%;
        margin-bottom: 5%;
        width: 30%;
    }
    p {
        color: #2e3329;
        font-size: 17px;
    }
}